{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Forgot Password
        {% endblock title %}
    </title>


</head>

<body>
    {% block content %}
    <main>
        <section class="login">
            {% for message in messages %}
            <div class="alert alert-dark text-center">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            <h2>Reset Password</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" required name="email" placeholder="Enter youre Email">
                </div>

                <button type="submit">Send Reset Link</button>
            </form>
        </section>
    </main>
    {% endblock content %}
</body>

</html>