{% extends 'base.html' %} {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} RunWhatsApp {% endblock title %}
</head>

<body>
    {% block content %}
    <main>
        <div style="width: 100%; max-width:400px" id="div">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" style="border-radius: 20px;" name="search" placeholder="search">
            </form>
        </div>

        {% for contacts in mycontact %}
        <section class="chat-window">
            <div class="chat-header">
                <a href="/contact_profile/{{contacts.phone_number}}">
                    <img src="{{contacts.image.url}}" alt="Profile Picture" />
                </a>

                <span>
                    <a href="/contact_profile/{{contacts.phone_number}}"
                        style="color: black; font-size:larger;font-weight:bolder">{{contacts}}
                    </a>


                    <a href="chat/{{contacts.phone_number}}">
                        <div>
                            <h5 style="color: black; font-family: monospace;">
                                {{contacts.last_message|truncatewords:7}}
                            </h5>
                            <input type="hidden" name="" value="{{contacts.phone_number}}" id="contact_number" />
                        </div>
                    </a>
                </span>
            </div>
        </section>
        {% endfor %}


        {% for contacts in result %}
        <section class="chat-window">
            <div class="chat-header">
                <a href="/contact_profile/{{contacts.phone_number}}">
                    <img src="{{contacts.image.url}}" alt="Profile Picture" />
                </a>

                <span>
                    <a href="/contact_profile/{{contacts.phone_number}}"
                        style="color: black; font-size:larger;font-weight:bolder">{{contacts}}
                    </a>


                    <a href="chat/{{contacts.phone_number}}">
                        <div>
                            <h5 style="color: black; font-family: monospace;">
                                {{contacts.last_message|truncatewords:7}}
                            </h5>
                            <input type="hidden" name="" value="{{contacts.phone_number}}" id="contact_number" />
                        </div>
                    </a>
                </span>
            </div>
        </section>
        {% endfor %}

        {% if not mycontact and not result %}
        <div class="chat-window">
            <marquee behavior="" direction="">
                <p style="text-align: center;">Welcome to RunWhatsApp !, Add contacts, explore our feautures
                    and make the most of your experience.
                </p>
            </marquee>
        </div>
        {% endif %}


        <!-- {% for contacts in people_with_mycontact %}
        <section class="chat-window">
            <h4>
                {{contacts.user_phone_number}} message you add number to see message
            </h4>
        </section>
        {% endfor %} -->
        <a href="add_contact">
            <span class="fa fa-user-plus fa-10x" style="bottom:19%;position:fixed;right:3%;font-size:20px;color: #333;"
                title="Chats">
            </span>
        </a>
        <a href="#div">
            <span class="fa fa-arrow-up" style="bottom:11%;position:fixed;right:3%;font-size:20px;color: #333;"
                title="Chats">
            </span>
        </a>

    </main>
    <br><br><br><br><br>
    {% endblock content %}

</body>

</html>
if request.FILES.get('video'):
user1_status = UserStatus.objects.filter(user=user)
for user1 in user1_status:
user1.video = video
user1.save()

video_status = Status.objects.create(user=user, text=text)
video_status.save()