{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Reset Password
        {% endblock title %}
    </title>


</head>

<body>
    {% block content %}
    <main>
        <section class="login">
            {% for message in messages %}
            <div class="alert alert-dark text-center">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h2>Check Your Email</h2>
                <p class="text-base">An email with password reset instructions has been sent to your email address.
                    Please follow
                    the link
                    in the email to
                    reset your password.</p>

            </div>
        </section>
    </main>
    {% endblock content %}
</body>

</html>