{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} Status Page {% endblock title %}</title>

</head>

<body>

  {% block content %}
  <main>
    <section class="status">
      <h2 style="text-align: center;">Status</h2>
      <div class="image-container">


        {% for real_status in real_status %}

        {% if real_status.user %}
        <a href=""><img class="img" src="{{real_status.image.url}}" alt="Snow"></a>
        {% endif %}

        {% endfor %}




        {% if not real_status %}
        <div class="chat-window">
          <marquee behavior="" direction="">
            <p>No staus to view
            </p>
          </marquee>
        </div>
        {% endif %}

      </div>
    </section>
  </main>
  {% endblock %}
</body>