{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} Status Page {% endblock title %}</title>

</head>

<body>

  {% block content %}
  <main>
    <section class="status">
      <div class="image-container">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
        <img class="img" src="{% static 'blank.png' %}" alt="Snow">
      </div>
    </section>
  </main>
  {% endblock %}
</body>